<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

	<xacro:macro name="omni_picker_interfaces" params="name">
		<xacro:arg name="gazebo" default="false"/>
		<xacro:property name="prefix" value="${name + '_' if name else ''}"/>

		<!-- 夹爪主关节接口定义 -->
		<joint name="${prefix}gripper_joint">
			<command_interface name="position"/>
			<state_interface name="position">
				<param name="initial_value">0.0</param>
			</state_interface>
			<state_interface name="velocity"/>
			<state_interface name="effort"/>
		</joint>

		<xacro:if value="$(arg gazebo)">
			<!-- omnipicker夹爪的mimic关节接口 -->
			<joint name="${prefix}narrow2_joint">
				<state_interface name="position"/>
				<state_interface name="velocity"/>
				<state_interface name="effort"/>
			</joint>
			<joint name="${prefix}narrow3_joint">
				<state_interface name="position"/>
				<state_interface name="velocity"/>
				<state_interface name="effort"/>
			</joint>
			<joint name="${prefix}narrow_loop_joint">
				<state_interface name="position"/>
				<state_interface name="velocity"/>
				<state_interface name="effort"/>
			</joint>
			<joint name="${prefix}wide1_joint">
				<state_interface name="position"/>
				<state_interface name="velocity"/>
				<state_interface name="effort"/>
			</joint>
			<joint name="${prefix}wide2_joint">
				<state_interface name="position"/>
				<state_interface name="velocity"/>
				<state_interface name="effort"/>
			</joint>
			<joint name="${prefix}wide3_joint">
				<state_interface name="position"/>
				<state_interface name="velocity"/>
				<state_interface name="effort"/>
			</joint>
			<joint name="${prefix}wide_loop_joint">
				<state_interface name="position"/>
				<state_interface name="velocity"/>
				<state_interface name="effort"/>
			</joint>
		</xacro:if>
	</xacro:macro>

</robot>

